/* Basic css for the backgrounds, forms, and image width */
form {
  background-color: grey;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

img {
  width: 500px;
  height: auto;
}
